.shop-prod-header{
    margin-top: 30px;
    margin-left: 30px;
}

.shop-prod-see-more-btn-cont{
    position: absolute;
    margin-left: 84em;
    margin-top: 8em;
}

.shop-prod-seemore-btn{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
}

.next-img{
/* width: 80px;
height: 10px; */
max-width: 60px;
margin-left: 10px;
}

.shop-prod-container{
    width: 97%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: 40px;
    margin-top: 20px;
}

.shop-prod-box{
    width: 220px;
    height: 360px;
    overflow: hidden;
    background: #e8e8e8;
    /* cursor: pointer; */
    padding: 10px 20px;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.shop-prod-content{
    align-items: center;
    max-width: 100%;
}

.shop-prod-img-box{
    max-width: 100%;
}

.shop-prod-main{
    text-align: center;
}

.shop-prod-box-p1{
    display: flex;
    flex-direction: column;
}

.shop-prod-title{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.shop-prod-price{
    margin-top: -18px;
    font-weight: bold;
    text-align: center;
}

.shop-prod-box-p2{
    display: flex;
    flex-direction: column;
}

.shop-prod-btn-container{
    text-align: center;
}

.shop-prod-button{
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #322b2b;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.shop-prod-button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }