.cart-bg {
  width: auto;
  height: 100%;
  display: flex;
}

.cart-main-container {
  position: absolute;
  background: rgba(255, 255, 255, 0.829);
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  /* border: solid 2px;
    border-color: black; */
    border-radius: 15px;
    padding-bottom: 20px;
}

.cart-heading {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.cart-container {
  background: rgba(255, 255, 255, 0.829);
  width: 700px;
  height: 125px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid black;
}

.cart-content {
  align-items: center;
  /* max-width: 100%; */
}

.cart-img-box {
  /* max-width: 100%; */
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border: 1px solid black;
  position: absolute;
  margin-top: 10px;
}

.cart-prod-title {
  margin: 0px;
  display: flex;
  position: absolute;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 150px;
  /* justify-content: center; */
}

.cart-price-title {
  position: absolute;
  margin-top: 25px;
  margin-left: 380px;
  font-weight: bold;
  font-size: 20px;
}

.cart-price {
  position: absolute;
  margin-top: 60px;
  margin-left: 380px;
  font-weight: bold;
  /* justify-content: center; */
}

.cart-qnt-name {
  position: absolute;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.cart-qnt-container {
  display: flex;
  margin-left: 500px;
}

.cart-qunt-btn {
  margin-top: 50px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
  transition: border 0.3s ease;
  width: 100px;
  height: 35px;
}

.cart-qunt-btn:hover {
  border: 1px solid #4097fe;
}

.cart-increment-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4097fe;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-increment-btn:hover {
  background-color: #0b5daf;
}

.cart-p {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #f5f8fb;
  border-right: 1px solid #f5f8fb;
}

.Subtotal {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 240px;
  background: rgba(255, 255, 255, 0.829);
  margin-top: 30px;
  margin-left: 57em;
  border-radius: 15px;
}

.cart-ordersum-title {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}

.cart-ordersum-subtotal {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 90px;
}

.cart-ordersum-subtotal-lbl {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 300px;
  margin-top: 90px;
}

.cart-ordersum-shipping {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 130px;
}

.cart-ordersum-shipping-lbl {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 300px;
  margin-top: 130px;
}

.cart-ordersum-total {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 170px;
}

.cart-ordersum-total-lbl {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 300px;
  margin-top: 170px;
}

.space{
  position: absolute;
  margin-left: -40px;
}

.billing-address-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: fit-content;
  background: rgba(255, 255, 255, 0.829);
  margin-top: 50px;
  margin-left: 57em;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.cart-billaddress-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}

.cart-houseno {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 35px;
}

.cart-street {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 5em;
}

.cart-city {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 8em;
}

.cart-country {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 11.5em;
}

.cart-txtbox-house {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-txtbox-street {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-txtbox-city {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-txtbox-country {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-txtbox-Phone-no {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-txtbox-Email {
  height: 40px;
  width: 300px;
  background: rgb(255, 255, 255);
  border: white;
  border-radius: 10px;
  outline: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-left:11em;
  padding-left: 30px;
  margin-top: 25px;
}

.cart-Phone-no {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 14.7em;
}

.cart-Email {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 18em;
}

.cart-item-dlt-btn-container {
  text-align: right;
  margin-left: 40px;
}

.delete-cart-item {
  position: absolute;
  cursor: pointer;
  background: transparent;
  margin-top: 45px;
  width: 20px;
  height: 20px;
  color: red;
}

.bill-add-container {
  display: flex;
  flex-direction: row;

}

.bill-address-inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bill-address-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 50px;
  background: white;
  margin-left: 80px;
  /* border-radius: 50px; */
}

.bill-address-input input {
  height: 50px;
  width: 400px;
  /* background: transparent; */
  border: none;
  outline: none;
  color: #000000;
  font-size: 15px;
  /* font-weight: bold; */
  margin: 0px 20px;
}

.bill-phone-container {
  display: flex;
  flex-direction: row;
}

.bill-phone-inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bill-phone-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 50px;
  background: white;
  margin-left: 20px;
  /* border-radius: 50px; */
}

.bill-phone-input input {
  height: 50px;
  width: 400px;
  /* background: transparent; */
  border: none;
  outline: none;
  color: #000000;
  font-size: 15px;
  /* font-weight: bold; */
  margin: 0px 20px;
}

.bill-email-container {
  display: flex;
  flex-direction: row;
}

.bill-email-inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bill-email-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 50px;
  background: white;
  margin-left: 110px;
  /* border-radius: 50px; */
}

.bill-email-input input {
  height: 50px;
  width: 400px;
  /* background: transparent; */
  border: none;
  outline: none;
  color: #000000;
  font-size: 15px;
  /* font-weight: bold; */
  margin: 0px 20px;
}

.bill-checkbox {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 320px;
}

.bill-checkbox-text {
  text-align: right;
  margin-right: 30px;
  margin-top: -3px;
}

.checkout-btn-container {
  text-align: center;
}

.checkoutbtn {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  background-color: #322b2b;
  color: white;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
}

.checkoutbtn:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.save-address-btn{
  margin-left: 28%;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #322b2b;
  color: white;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
}