.aboutus-bg{
    width: 100%;
    height: 100%;
    display: flex;
}

.aboutus-title{
    margin-left: 80px;
    margin-top: 60px;
    text-decoration: underline;
    font-weight: bold;

}

.aboutus-description-container{
    width: 750px;
    height: 600px;
    background: rgba(255, 255, 255, 0.747);
    margin-left: 70px;
    margin-top: 30px;
}

.aboutus-img-container{
    width: 500px;
    height: 400px;
    background: rgba(255, 255, 255, 0.747);
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}