.admin-sales-report-bg{
    width: 98%;
    margin-left: 1%;
    margin-top: 3%;
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 15px;
}

.admin-sales-report-title{
    text-align: center;
    margin-left: 200px;
}

.admin-sales-report-download-btn-container{
    text-align: right;
}

.admin-sales-report-download-btn {
  height: 40px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 74px;
  background: #3d3028;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 5.7em;
}

.admin-sales-report-download-btn:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
