.advertisement-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 10%;
    width: 98%;
    height: 350px;
    background: #eaeaea;
    border-radius: 30px;
}

.home-header{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 35px;
}

.home-prod-container{
    width: 97%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: 40px;
    margin-top: 20px;
}

.home-prod-box{
    width: 220px;
    height: 360px;
    overflow: hidden;
    background: #e8e8e8;
    padding: 10px 20px;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.home-content{
    align-items: center;
    max-width: 100%;
}

.home-prod-img-box{
    max-width: 100%;
}

.home-prod-title{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.home-prod-price{
    margin-top: -18px;
    font-weight: bold;
    text-align: center;
}

.home-prod-button-cont{
    
    text-align: center;
}

.home-prod-button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #322b2b;
    color: white;
    border-color: transparent;
    cursor: pointer;

}

.home-prod-main{
    text-align: center;
}

.home-prod-button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
