.productdelete-bg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .productdelete-container {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 26em;
  }

  .productdelete-heading{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

.productdelete-msg{
    margin-top: 30px;
    line-height: 25px;
    text-align: center;
    color: rgb(83, 81, 81);
}

.productdelete-btn{
    text-align: center;
}
.productdelete-dltbtn{
    margin-top: 1rem;
    border: none;
    background-color: #1d4fd8c6;
    color: #fff;
    padding: 0.65rem 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    margin-right: 60px;
}

.productdelete-dltbtn:hover{
    background-color: #154de9;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.productdelete-cancelbtn{
    margin-top: 1rem;
    border: none;
    background-color: grey;
    color: #fff;
    padding: 0.65rem 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
}

.productdelete-cancelbtn:hover{
    background-color: rgb(39, 39, 39);
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}